body {
    background: #0f172a;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mb-3 {
    width: 350px;
}

.form-control {
    background: #1e293b;
    border: 1px solid #334155;
    color: #fff;
}

.form-control::placeholder {
    color: #94a3b8;
}

.form-control:focus {
    box-shadow: 0 0 8px #38bdf8;
    background: #1e293b;
    color: #fff;
}


#action {
    margin-top: 15px;
    width: 100%;
    background: blue;
    border: none;
    transition: 0.3s ease;
}

#action:hover {
    transform: scale(1.05);
}